:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-box-1: 0 2rem 6rem rgba(0,0,0,.2); }

* {
  padding: 0;
  margin: 0; }

*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-Grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  margin: 8rem auto;
  max-width: 110rem;
  min-height: 50rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-box-1); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 8rem;
  border-bottom: 1px solid var(--color-grey-light-1);
  background-color: var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.contain {
  display: flex;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .contain {
      flex-direction: column; } }

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      flex: 1; } }

.hotel-view {
  flex: 1; }

.information {
  display: flex;
  padding: 2.5rem;
  font-size: 1.4rem;
  background-color: var(--color-grey-light-3); }

.detail {
  flex: 0 0 60%;
  margin-right: 2.5rem;
  padding: 2rem;
  background-color: var(--color-grey-light-1); }

.comments {
  flex: 1;
  padding: 2rem;
  background-color: var(--color-grey-light-1); }

.reviews__box {
  background-color: var(--color-grey-light-1);
  padding: 2rem; }

.logo {
  height: 3rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search-input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border-radius: 100px;
    border: none;
    width: 90%;
    margin-right: -3.5rem;
    background-color: var(--color-grey-light-2);
    padding: .7rem 2rem;
    transition: all .3s; }
    .search-input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search-input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search-input:focus + .search-button {
    outline: none;
    background-color: var(--color-grey-light-3); }
  .search-button {
    background-color: var(--color-grey-light-2);
    border: none; }
    .search-button:focus {
      outline: none; }
    .search-button:active {
      transform: translateY(2px); }
  .search-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch; }
  .user-nav_icon-box {
    position: relative; }
  .user-nav > * {
    padding: 0 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-3); }
  .user-nav_icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav_notification {
    font-size: .8rem;
    font-weight: 100;
    border-radius: 100px;
    background-color: var(--color-primary);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    right: 1.6rem;
    color: var(--color-grey-light-1); }
  .user-nav_user {
    font-size: 1.2rem; }
  .user-nav_user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  margin-top: 3.5rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      margin: 0;
      display: flex;
      width: 100%; } }
  .side-nav_item {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav_item {
        flex: 1;
        display: flex;
        justify-content: center; } }
    .side-nav_item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav_item:not(:last-child) {
          margin: 0; } }
  .side-nav_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    transition: scale 0.2s, width cubic-bezier(1, 0, 0, 1) 0.4s, background-color 0.1s; }
  .side-nav_item:hover::before, .side-nav_item--active:before {
    width: 100%;
    transform: scaleY(1); }
  .side-nav_item:active::before {
    background-color: var(--color-primary-dark); }
  .side-nav_icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 1rem; }
  .side-nav_link:link, .side-nav_link:visited {
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav_link:link, .side-nav_link:visited {
        display: flex;
        flex-direction: row; } }

.legal {
  color: var(--color-grey-light-4);
  text-align: center;
  padding-bottom: 1rem;
  font-size: .8rem;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.galery {
  display: flex; }
  .galery__photo {
    width: 100%;
    position: block; }

.heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-4);
  border-top: 1px solid var(--color-grey-light-4);
  background-color: var(--color-grey-light-1);
  margin-top: -5px; }
  .heading__title {
    margin: 0 1.5rem 0 4rem; }
  .heading__stars {
    margin-right: auto;
    display: flex; }
  .heading__stars-icon, .heading__location-icon {
    width: 1.7rem;
    height: 1.7rem;
    fill: var(--color-primary); }
  .heading__location {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    color: var(--color-primary);
    transition: all .3s; }
    .heading__location:hover {
      transform: scale(1.06); }
  .heading__location-title {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.5rem;
    border-bottom: 1px solid var(--color-primary); }
  .heading__location-icon {
    fill: currentColor; }
  .heading__rating {
    background-color: var(--color-primary);
    padding: 2rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-grey-light-1); }
  .heading__rating-number {
    padding: 0 1rem;
    font-size: 2rem; }

.detail .paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.detail .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-4);
  border-bottom: 1px solid var(--color-grey-light-4); }
  .detail .list__item {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    margin-bottom: .3rem; }
  .detail .list__item::before {
    content: "";
    display: inline-block;
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    background-color: var(--color-primary); }

.detail .recommend {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .detail .recommend__paragraph {
    font-size: 1.4rem;
    color: var(--color-grey-dark-2); }
  .detail .recommend__friends {
    display: flex; }
  .detail .recommend__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid white; }
    .detail .recommend__photo:not(:last-child) {
      margin-right: -1.3rem; }

.reviews {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .reviews__box {
    margin-bottom: 3rem;
    position: relative; }
    .reviews__box::before {
      content: "\201D";
      font-family: sans-serif;
      line-height: 1;
      font-size: 20rem;
      position: absolute;
      color: var(--color-grey-light-3);
      top: -3rem;
      left: -1rem; }
  .reviews__comment {
    margin-bottom: 2rem;
    position: relative; }
  .reviews__user {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .reviews__photo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .reviews__user-text {
    margin-right: auto; }
    .reviews__user-text-name {
      text-transform: uppercase; }
    .reviews__user-text-date {
      text-transform: capitalize;
      font-size: 1.2rem;
      color: var(--color-grey-dark-2); }
  .reviews__rating {
    font-size: 1.8rem;
    color: var(--color-primary); }
  .reviews__button {
    color: var(--color-primary);
    border: 0;
    border-bottom: 1px solid currentColor;
    padding-bottom: .1rem;
    cursor: pointer;
    transition: all .2s;
    font-family: 'Open Sans'; }
    .reviews__button span {
      font-size: 1.5rem;
      transition: all .2s;
      margin-left: 2px;
      transition: margin-left .6s; }
    .reviews__button:hover {
      color: var(--color-grey-dark-1);
      transform: scale(1.03); }
      .reviews__button:hover span {
        margin-left: 8px; }
    .reviews__button:active {
      transform: scale(1); }

.cta {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .cta__text {
    text-transform: uppercase;
    margin-bottom: 4rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
  color: var(--color-grey-light-1);
  position: relative;
  cursor: pointer;
  transition: all .3s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all .2s; }
  .btn > * {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all .1s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0rem; }
  .btn:hover {
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary)); }
  .btn:active {
    transform: scale(0.95); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
